<%provide(:title,@user.name)%>
<div class="row">
<aside class="col-md-4">
<section class="user_info">
<h1>
<%=gravatar_for@user%>
<%=@user.name%>
</h1>
</section>
</aside>
<%orders=Order.where(:email =>@user.email).all%>

<h1>Listing orders</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Pay type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% orders.each do |order| %>
  <tr>
    <td><%= order.name %></td>
    <td><%= order.address %></td>
    <td><%= order.email %></td>
    <td><%= order.pay_type %></td>
    <td><%= link_to 'Show', order %></td>

  </tr>
<% end %>
</table>


</div>