
<div class="showproduct">
  <br/>
<p>
  <strong>Name:</strong><br/><br/>
  <bold><%= @order.name %></bold>
</p>
<br/>
<p>
  <strong>Address:</strong><br/><br/>
  <bold><%= @order.address %></bold>
</p>
<br/>
<p>
  <strong>Email:</strong><br/><br/>
  <bold><%= @order.email %></bold>
</p>
<br/>
<p>
  <strong>Pay type:</strong><br/><br/>
  <bold><%= @order.pay_type %></bold>
</p>
<br/>
<div class="cart_title">订单内容</div>

<table>
  <% @order.line_items.each do |item| %>
     <tr>
          <td><%= item.quantity %>&times;</td>
          <td><%= item.product.title %></td>
          <td class="item_price"><%= number_to_currency(item.total_price) %></td>
     </tr>
  <% end %>s
    <tr class="total_line">
        <td colspan="2">Total</td>
        <td class="total_cell"><%= number_to_currency(@order.total_price) %></td>
    </tr>
</table>
<br/>
<p>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%if current_user.admin? %>
<%= link_to 'Back', orders_path %>
<% end %>
</p>
<br/>
</div>