<p id="notice"><%= notice %></p>
<h1 >Product Information</h1>
<div class="showproduct">
  <br/>
<p>
  <strong>Title:</strong><br/><br/>
  <bold><%= @product.title %></bold>
</p>
<br/>
<p>
  <strong>Description:</strong><br/><br/>
  <bold><%= @product.description %></bold>
</p>
<br/>
<p>
  <strong>Image url:</strong><br/><br/>
  <bold><%= image_tag(@product.image_url) %></bold>
</p>
<br/>
<p>
  <strong>Price:</strong><br/><br/>
  <bold><%= @product.price %></bold>
</p>
<br/>
<p><%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %></p>
<br/>
</div>